
body {overflow: auto; overflow-y: auto; background-color: white; margin: 0px;}
.jeefacetransferCanvas {
    z-index: 20;
    position: absolute; 
    bottom: 0px; left: 0px;
    max-height: 25vh;
}
.webojiCanvas {
    z-index: 10;
    position: absolute; 
    max-height: 50%; max-width: 50%; left: 20%; top: 50%; 
    width: 100vmin;
    transform: translate(-50%, -50%);
}
